<!doctype html>
<html lang="en">

<head>
            <style>
                .asset-info, .asset-info span {
                    font-size:0.875rem !important;
                }

                .brand-color-primary {
                    color:#3e703a !important;
                }
                .brand-color-light {
                    color: #8bc34a !important;
                }
                .brand-color-dark {
                    color: #2f5811;
                }
            </style>
            
    <meta charset="utf-8">
    <script type="text/html" template-engine="ejs">
            <title><%=menuData.pageTitle%></title>
            <!-- since we're going to wrap this up into a native app, disable zooming on mobile -->
            <meta name='viewport'  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
            <meta name="description" content="<%=menuData.pageDescription%>">
        </script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="manifest" href="/manifest.json">

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>

    <!-- Add additional services you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-functions.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCUhpR-X9vCd5Vy7vmJpjKCn9dn_RviNpo",
            authDomain: "yeek-platform.firebaseapp.com",
            databaseURL: "https://yeek-platform.firebaseio.com",
            projectId: "yeek-platform",
            storageBucket: "yeek-platform.appspot.com",
            messagingSenderId: "662027695848"
        };
        firebase.initializeApp(config);
    </script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ethjs@0.3.4/dist/ethjs.min.js"></script>
    <script type="text/javascript" src="assets/js/ejs.js"></script>
    <script type="text/javascript" src="assets/js/ejs-controller.js?v10"></script>

    <script type="text/javascript" src="assets/js/constants.js"></script>
    <script type="text/javascript" src="assets/js/token.js"></script>



</head>

<body>
    <script src="data/token_list.js"></script>
    <script src="assets/js/app.js"></script>


    <script type="text/html" template-engine="ejs">
                    <div class="sticky-top">
                        <!-- Main Nav -->
                        <nav class="navbar navbar-collapse navbar-dark" style="background-color:#3e703a">
                            <div class="container">
                                <a class="navbar-brand" href="index.html">
                                    <img alt="Stealth Capital Logo" src="assets/img/stealth_logo_full.png" width="200"/>
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <i class="icon-menu h4"></i>
                                </button>
                                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                                    <!-- The control's datasource is organized by menu item type. The topLevel[] items are the main menu items -->
                                    <ul class="navbar-nav">
                                        <% for (var i=0; i<menuData.topLevel.length; i++) {%>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">
                                                    <%=menuData.topLevel[i]%>
                                                </a>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                            <!--end nav collapse-->
                        </nav>
                        <!-- User Balance - Eth and Current Token -->
                        <div id="userBalances" class="text-white" style="background-color:#5B8F55;font-size:0.875rem">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4"><h5>My Tokens</h5></div>
                                        <div class="col-8 pt-1" style="text-align:right"><b>Value: YYY.YYYY ETH / $XXXXXXX.XX</b></div>
                                    </div>
                                    
                                    <div class="row justify-content-center">
                                        <% for (var i=0; i<window.token_list.length; i++) { %>
                                            <div class="col m-2 p-1 rounded" style="text-align:center;font-size:0.8rem;background-color:#2f5811">
                                                <b><a class="text-white" href="token.html?token_address=<%=token_list[i].contract_address%>"><%=token_list[i].symbol%></a></b><br />
                                                <span id="balance_<%=token_list[i].symbol%>">0 ($0.00)</span>
                                                <%
                                                    // populate_balance(token_list[i].symbol)
                                                %>
                                            </div>
                                        <%}%>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                        </div>
                    </div>

                         <div class="container bg-white pt-3 pb-3">
                            <div class="row justify-content-center">

                                <div class="col-12 col-md-8">
                                    <div class="media" style="margin-bottom:0">
                                        <img alt="Token Symbol" src="<%=tokenData.logo_url%>" class="mr-md-5 avatar avatar-xlg" />
                                        <div class="media-body">
                                            <div class="mb-3">
                                                <h1 class="h2 mb-2"><%=tokenData.token_name%></h1>
                                                <div class="text-success" style="font-weight:bold">
                                                    <i class="icon-line-graph"></i>
                                                    <span class="tokenPrice"><span class="quote_price"></span> ETH</span>
                                                </div>

                                            </div>
                                            <p><%-tokenData.company_info.elevator_pitch%></p>
                                            <div>
                                                    <button class="btn btn-outline-primary" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                                                    <button class="btn btn-outline-primary"><i class="socicon-facebook"></i>
                                                    </button>
                                                    <div class="dropdown d-inline-block">
                                                        <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="icon-dots-three-horizontal"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item" href="app-profile-creator.html#">Add to group</a>
                                                            <a class="dropdown-item" href="app-profile-creator.html#">Share Profile</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="app-profile-creator.html#">Block</a>
                                                            <a class="dropdown-item" href="app-profile-creator.html#">Report</a>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
    
    


                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
          
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col mb-1">
                                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                    <li class="nav-item">
                                                                            <a class="nav-link active show" id="tab1" data-toggle="tab" href="#tab1-content" role="tab" aria-selected="false">
                                                                                <i class="icon-swap"></i> 
                                                                                Trade</a>
                                                                        </li>
    
                                                                    <li class="nav-item">
                                                                            <a class="nav-link" id="tab2" data-toggle="tab" href="#tab2-content" role="tab" aria-selected="true">
                                                                                <i class="icon-info"></i> 
                                                                                Profile</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link " id="tab3" data-toggle="tab" href="#tab3-content" role="tab" aria-selected="false">
                                                                                <i class="icon-users"></i> 
                                                                                Community</a>
                                                                        </li>
                                                                        <% if (window.model.dropperAddress != '0x0') { %>

                                                                        <li class="nav-item">
                                                                            <a class="nav-link" id="tab4" data-toggle="tab" href="#tab4-content" role="tab" aria-selected="false">
                                                                                <i class="icon-thunder-cloud"></i> 
                                                                                Airdrop!</a>
                                                                        </li>

                                                                        <%}%>
                                                            </ul>
                                                        </div>
                                                        <!--end of col-->
                                                    </div>
                                                    <!--end of row-->
                                                </div>
                                                <!--end of container-->
                        
            
    
   
            </script>

    <ctrl src="./controls/modals.html" id="walletWarnings" doNotWrap="true"></ctrl>


    <div class="tab-content" id="myTabContent">
            <!-- Exchange-->
            <div class="tab-pane fade show active tradingUI" id="tab1-content" role="tabpanel">
                    <script type="text/html" template-engine="ejs">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                    <div class="card">
                                            <h5 class="card-header">Asset Details</h5>
                                            <div class="card-body">
                                              <h6>Token</h6>
        
                                              <p class="card-text asset-info">
                                                    <span class="text-success">
                                                            Price: <span class="quote_price">Loading...</span> ETH</span><br />
                                                    Symbol: <%=tokenData.symbol%><br />
                                                    Market Cap: <span class="market_cap">Loading...</span> ETH<br />
                                                    Supply: <span class="totalSupply">...</span><br />                                      
                                                    Contract:
                                                    <a class="etherscanUrl" href="https://etherscan.io/token/<%=menuData.tokenAddress%>"><%=menuData.tokenAddress.substring(0,15)%></a><br />
                                            </p>       
                                                    <hr />
        
                                            <h6>Exchanger</h6>
                                            <p class="card-text asset-info">
                                                    Weight: <span class="reserve_weight">Loading...</span> % <br />
                                                    Reserve (ETH): <span class="reserve_balance">Loading...</span> ETH <br />
                                                    Reserve (<%=tokenData.symbol%>): <span class="reserve_balance_tokens">Loading...</span> <%=tokenData.symbol%><br />
                                                    Volume (24h): <span class="volume">Coming Soon</span><br />
                                                    Contract: <a href="https://etherscan.io/<%=tokenData.exchanger_address%>"><%=tokenData.exchanger_address.substring(0,15)%></a>
        
            
                                                </p>
                                            </div>
                                    </div> 
                                    
                                    <div class="card">
                                            <h5 class="card-header">Send Tokens</h2>
                                            <div class="card-body">
                                            <form>
                                                <div class="form-row mt-2 mb-2 justify-content-center">
                            
                                                    <div class="col-5">
                                                        <input type="text" id="sendTo" class="form-control" placeholder="Address">
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="text" id="sendAmount" class="form-control" placeholder="Amount">
                                                    </div>
                                                    <div class="col-3">
                                                        <button style="width:100%" type="button" id="sendTokens" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <span class="text-info" style="display:none" id="sendResponse"></span>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card">
                                        <h5 class="card-header">Trade <%=tokenData.symbol%></h2>
                                         <div class="card-body">
        
                                    <form autocomplete="off">
                                            <input autocomplete="false" name="hidden" type="text" style="display:none;">
        
                                            <div class="form-row mt-2 mb-2 justify-content-center">
        
                                                <!-- The from currency. Default ETH-->
                                                <div class="col-md-3 col-12">
                                                    <div class="input-group">
                                                      
                                                    <input type="text" id="convertFrom" class="form-control" placeholder="ETH">
                                                            </div>
                                                </div>
        
                                                    <!-- Switches the from currency between ETH and the token. When the token is the from currency, it's considered a SELL order -->
                                                     <div class="col-md-1 col-12 mt-1" style="text-align:center">
                                                        <a id="swapBuySell" href="#"><i style="font-size:1.5rem;" class="icon-swap"></i></a>
                                                    </div>
                                                
                                                <!-- The target currency. Defaults to the token. Updates itself when user types in the from currency box -->
                                                <div class="col-md-3 col-12 mb-1">
                                                        <div class="input-group">
                                                    <input type="text" id="convertTo" disabled="disabled" class="form-control" placeholder="<%=tokenData.symbol%>">
                                                            </div>
                                                </div>
                                                <div class="col-md-5 col-12">
                                                        <button style="width:100%" disabled="disabled" type="button" id="tradeBtn" class="btn btn-success">Buy</button>
                                                </div>
                                            </div>
                                            <div class="alert alert-warning" role="transaction_pending" style="display:none">
                                                Transaction Created - Please approve in Metamask.
                                            </div>
                                            <div class="alert alert-success" role="transaction_complete" style="display:none">
                                                Sent to Blockchain, TxID: <a id="txid"></a> 
                                            </div>
    
                                                  
                                        </form>
        
                                        <hr />
        
                                        <h5>Important Trading Notes</h5>
                                        <ul>
                                            <li>Your order will be executed as close as possible to the price quoted above. Up to 5% slippage may occur during periods of high volatility</li>
                                            <li>When buying tokens with Ether, you will be asked to approve one transaction, to send the ether to the Exchanger. When selling tokens, you will be asked to approve 2 separate transactions - if you do not approve them both, the transaction will fail</li>
                                            <li>All orders on this system are "Fill or Kill". If your order cannot be executed due to slippage, your ether / tokens will be immediately returned to you</li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="text-info" style="display:none" id="tradeResponse"></span>

                                                             <!-- Buy Ether-->
                             <div class="card">
                                    <h5 class="card-header">Purchase Ether</h5>
                                    <div class="card-body">
                                    <p>Need crypto? Get the best rates with our partner Changelly. Just click the button below to buy Ether using your credit / debit card, Bitcoin, and other cryptocurrencies.</p>
                                       <link rel="stylesheet" href="https://changelly.com/widget.css"/> 
                                       <a id="changellyButton" href="https://changelly.com/widget/v1?auth=email&from=USD&to=ETH&merchant_id=a9d01925ca20&address=<%=window.web3.eth.defaultAccount%>&amount=1&ref_id=a9d01925ca20&color=00cf70" target="_blank"> 
                                          <button class="btn btn-primary">Buy Ether Now</button> 
                                       </a> 
                                       
                                       <div id="changellyModal" style="z-index:10000"> 
                                       <div class="changellyModal-content"> 
                                           <span class="changellyModal-close">x</span> 
                                           <iframe src="https://changelly.com/widget/v1?auth=email&from=USD&to=ETH&merchant_id=a9d01925ca20&address=<%=window.web3.eth.defaultAccount%>&amount=1&ref_id=a9d01925ca20&color=3e703a" width="600" height="500" class="changelly" scrolling="no" style="overflow-y: hidden; border: none" > Can't load widget </iframe> </div> 
                                       </div>
                                   </div>
   
                                </div>
   
                            </div>

                        </div>
                                       
        
        
               
        
                    </div>
                </script>

                </div>

                <!-- Buy Ether Popup Script -->
                <script type="text/javascript"> 
                    setTimeout(() => {
                        var changellyModal = document.getElementById('changellyModal'); var changellyButton = document.getElementById('changellyButton'); var changellyCloseButton = document.getElementsByClassName('changellyModal-close')[0]; changellyCloseButton.onclick = function() { changellyModal.style.display = 'none'; }; changellyButton.onclick = function widgetClick(e) { e.preventDefault(); changellyModal.style.display = 'block'; }; 
                    }, 1000);
                </script> 
            <div class="tab-pane fade " id="tab2-content" role="tabpanel">
                    <script type="text/html" template-engine="ejs">

                        <!-- Company profile sections -->
                        <div class="container mt-2">
                        <div class="row">
                            <div class="col">
                                <%-tokenData.company_info.profile || tokenData.company_info.elevator_pitch%>
                                <br />
                            </div>
                        </div>
                        </div>
                    </script>
            </div>

        <!-- Discussion forum-->
        <div class="tab-pane fade" id="tab3-content" role="tabpanel">
            <div class="container">
                <div id="disqus_thread"></div>
            </div>
                <script>
                    
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
              
                    let DISQUS = function() {  // DON'T EDIT BELOW THIS LINE

                        var d = document, s = d.createElement('script');
                        
                        s.src = 'https://yeek-platform.disqus.com/embed.js';
                        
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    }
                </script>
        </div>

        <script type="text/html" template-engine="ejs">
        <!-- Airdrop Tab -->
        <% if (window.model.dropperAddress != '0x0') { %>
            <div class="tab-pane fade" id="tab4-content" role="tabpanel">
                <div class="container">
                                <h2>Airdrop!</h2>
        
                                            <div class="row">
                                                <div class="col">
                                                    <label>Dispensed</label>
                                                    <p> 
                                                        <span id="tokensDispensed"></span>
                                                        <span class="symbol"></span>
                                                    </p>
                                                </div>
                                                <div class="col">
                                                        <label>Available</label>
                                                        <p> 
                                                            <span id="tokensRemaining"></span>
                                                            <span class="symbol"></span>
                                                        </p>
                                                    </div>
                                        
                                                    <div class="col">
                                                        <label>Airdrop Amt.</label>
                                                        <p> 
                                                            <span id="airdropAmount"></span>
                                                            <span class="symbol"></span>
                                                        </p>
                                                    </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col">
                                                    <p>Your Airdrop Status: <span id="eligibility">Please wait...</span></p>
                                                    <button id="withdrawAirdropTokens" style="width:100%;">Get My Tokens</button>
                                                </div>
                                            </div>
        

                </div>
            </div>
        <%}%>
        </script>
    
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
    <script type="text/javascript" src="assets/js/zoom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/theme.js"></script>
    
<script>
async function waitForTxToBeMined (txHash) {
  let txReceipt
  while (!txReceipt) {
    try {
      txReceipt = await eth.getTransactionReceipt(txHash)
    } catch (err) {
      console.log("Error token-512... "+err.toString())
    }
  }
  return txReceipt;
}




</script>

</body>

</html>